<p>movies works!</p>
<div class="container">
    <img src="https://www.themoviedb.org/assets/2/v4/logos/312x276-primary-green-74212f6247252a023be0f02a5a45794925c3689117da9d20ffe47742a665c518.png" height="100">
</div>
<div class="panel panel-primary ">
<h1>Most popular movies</h1>
</div>
<div class="jumbotron" *ngFor="let article of articles">
<h2>{{article.title}}</h2>
<p>
    <a routerLink="/detail/{{article.id}}">More</a>
    </p>


<img class="imgage" src="http://image.tmdb.org/t/p/original/{{article.poster_path}}" height="200">



</div>

<app-movie-search></app-movie-search>